.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 15px;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.88);
  -webkit-animation-duration: 0.35s;
          animation-duration: 0.35s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  -webkit-animation-name: fadeIn;
          animation-name: fadeIn;
  /* Modifiers */
  /* States */
}
.modal_dialog {
  position: relative;
  max-width: 500px;
  padding: 20px;
  margin: auto;
  border-radius: 4px;
  background-color: #fff;
}

.modal_close:focus {
  outline: 0;
}

.modal_content {
  padding: 10px 0;
  font-size: 13px;
  color: #555;
}

.modal-actions {
  padding-top: 20px;
}

/* Animation */
@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}